
@model HotelViewModel 


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Hotel </h1>
<br />




<form asp-action="Edit" enctype="multipart/form-data">

    <div>
        <label class="col-form-label" asp-for="Code"></label>
        <input type="number" asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div>
        <label class="col-form-label" asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label class="col-form-label" asp-for="Price"></label>
        <input type="number" asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div>
        <label class="col-form-label" asp-for="ImagesName"></label>
        <input class="form-control-file" asp-for="ImagesName" />

    </div>



    <input type="submit" value="Save" class="btn btn-primary mt-5" />
    <a asp-action="Index" class="btn btn-light mt-5"> Back To List </a>

</form>

